* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /* CSS to make a hamburger nav menu https://codepen.io/erikterwan/pres/EVzeRP */

  body {
    font-family: acumin-pro-wide, sans-serif;
    font-size: x-large;
  }

  #home {
    display: flex;
  }

  #name-logo {
    display: flex;
    background:#7F807A;
    height: 100vh;
    width: 50vw;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
  }

  #logo {
    height: 40vh;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: bolder;
  }

  .sidebar {
    display: flex;
    flex-grow: 1;
    height: 33.33vh;
    width: 50vw;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
    border: 5px solid white;
  }

  #coding-projects {
    background: #7E8054;
  }

  #design-projects {
    background: #CCCBC2;
  }

  #contact {
    background: #D9B2B0;
  }

  #coding-section {
    background: #7E8054;
    color: white;
    height: 100vh;
  }

  h2 {
    text-align: center;
    height: 10vh;
  }

  #design-section {
    background: #CCCBC2;
    color: white;
    height: 100vh;
  }

  #contact-section {
    background: #D9B2B0;
    color: white;
    height: 40vh;
  }

  #contact-grid {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tile-image {
    height: 300px;
  }

  .contact-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-image {
    height: 100px;
  }

  /* @media (max-width: 100em) {
    html {
      font-size: 80%;
    }
  }

  @media (max-width: 50em) {
    html {
      font-size: 60%;
    }
  }

  @media (max-width: 25em) {
    html {
      font-size: 55%;
    }
  }

  body {
    font-family: acumin-pro-wide, sans-serif;
    color: #F5F5F5;
  }
  
  a {
    text-decoration: none;
    color: #F5F5F5;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  ul{
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #FFB700;
    height: 4rem;
    position: fixed;
  }
  
  .nav-list {
    display: flex;
    font-size: 1.25rem;
    margin-right: 1rem;
  }

  .nav-list a:hover {
    color: #323833;
  }

  li {
    padding: 1rem;
  }
  
  #welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top right,#686e69,#323833);
    height: 100vh;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    height: 60vh;
    margin-top: 40px;
  }

  .panel {
    display: flex;
    justify-content: center;
    background-size: 10vw 1;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }

  .panel h3 {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 25px;
    margin: 0;
    opacity: 0;
  }

  .panel.active {
    flex: 5;
  }

  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  .section-header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #projects {
    background-color: #006A75;
    height: 100vh;
  }
  
  #project-grid {
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .project-tile {
    background-color: #ffffff50; 
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-cap {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }  
  
  #links {
    background-color: #323833;
    height: 35vh;
    padding: 2rem;
  }
  
  #link-grid {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .link-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  footer {
    background:  #323833;
    display: flex;
    justify-content: center;
    padding: 1rem;
  } */