* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /* CSS to make a hamburger nav menu https://codepen.io/erikterwan/pres/EVzeRP */

  body {
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('images/Site\ Background\ Pattern\ -\ Rabbit\ Hole.svg');
    background-repeat: repeat;
    background-size: 110%;
  }

/* Formatting the side hero image */

  .graphic {
    /* position: relative; */
    width: 33vw;
    height: 120vh;
  }

  .gradient {
    width: 90%;
    height: 100%;
    background: linear-gradient(to bottom right, #D9B2B0, #FBE195);
  }

/* Formatting the intro text */

  .intro {
    /* position: relative; */
    top: 0;
    right: 1.5em;
    width: 66vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-weight: 800;
    font-size: 48;
    margin-bottom: 1em;
  }

  .about {
    width: 65%;
    text-align: center;
    font-size: 18;
  }

/* Formatting for the CTA */

  .CTA {
    /* position: fixed; */
    right: 1.5em;
    bottom: 1.5em;
    width: 66vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 375px;
    background: #D9B2B0;
    border-radius: 12px;
    box-shadow: 0px 0px 12px #00000050;
  }

  .buttonLink {
    text-decoration: none;
    font-weight: 800;
    font-size: xx-large;
    color: #F2F2F2;
  }

  .buttonLink:visited {
    color: #F2F2F2;
  }

/* CSS for hamburger menu */
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background: transparent;
    border: none;
  }

  .close {
    display: none;
    font-size: 500%;
    color: #F2F2F2;
  }

  .add {
    font-size: 500%;
  }

  .nav-list {
    position: fixed;
    z-index: 99;
    top: 1em;
    right: 0;
    width: 66vw;
    height: 10vh;
    background: #00000080;
    color: black;
    transform: translateX(100%);
    transition: transform 0.5s;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 60px;
  }

  .navLink {
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    padding-right: 1em;
    color: #F2F2F2;
  }

  .navLink:visited {
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    padding-right: 1em;
    color: #F2F2F2;
  }

  .showNav {
    transform: translateX(0)
  }

  /* #home {
    display: flex;
  }

  #name-logo {
    display: flex;
    background:#7F807A;
    height: 100vh;
    width: 50vw;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
  }

  #logo {
    height: 40vh;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: bolder;
  }

  .sidebar {
    display: flex;
    flex-grow: 1;
    height: 33.33vh;
    width: 50vw;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
    border: 5px solid white;
  }

  #coding-projects {
    background: #7E8054;
  }

  #design-projects {
    background: #CCCBC2;
  }

  #contact {
    background: #D9B2B0;
  }

  #coding-section {
    background: #7E8054;
    color: white;
    height: 100vh;
    border: 5px solid white;
  }

  h2 {
    text-align: center;
    height: 10vh;
  }

  #design-section {
    background: #CCCBC2;
    color: white;
    height: 100vh;
    border: 5px solid white;
  }

  #contact-section {
    background: #D9B2B0;
    color: white;
    height: 40vh;
    border: 5px solid white;
  }

  #contact-grid {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tile-image {
    height: 300px;
  }

  .contact-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-image {
    height: 100px;
  } */

  /* @media (max-width: 100em) {
    html {
      font-size: 80%;
    }
  }

  @media (max-width: 50em) {
    html {
      font-size: 60%;
    }
  }

  @media (max-width: 25em) {
    html {
      font-size: 55%;
    }
  }

  body {
    font-family: acumin-pro-wide, sans-serif;
    color: #F5F5F5;
  }
  
  a {
    text-decoration: none;
    color: #F5F5F5;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  ul{
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #FFB700;
    height: 4rem;
    position: fixed;
  }
  
  .nav-list {
    display: flex;
    font-size: 1.25rem;
    margin-right: 1rem;
  }

  .nav-list a:hover {
    color: #323833;
  }

  li {
    padding: 1rem;
  }
  
  #welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top right,#686e69,#323833);
    height: 100vh;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    height: 60vh;
    margin-top: 40px;
  }

  .panel {
    display: flex;
    justify-content: center;
    background-size: 10vw 1;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }

  .panel h3 {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 25px;
    margin: 0;
    opacity: 0;
  }

  .panel.active {
    flex: 5;
  }

  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  .section-header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #projects {
    background-color: #006A75;
    height: 100vh;
  }
  
  #project-grid {
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .project-tile {
    background-color: #ffffff50; 
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-cap {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }  
  
  #links {
    background-color: #323833;
    height: 35vh;
    padding: 2rem;
  }
  
  #link-grid {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .link-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  footer {
    background:  #323833;
    display: flex;
    justify-content: center;
    padding: 1rem;
  } */