* {
    margin: 0;
    box-sizing: border-box;
}

#back {
    position: absolute;
    top: 1px;
    left: 10px;
}

#back:visited {
    color: white;
}

main {
    display: flex;
}

li {
    list-style-type: none;
}