* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0C2126;
    color: white;
    font-family: aviano-future, sans-serif;
    font-weight: 700;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#buttonArea {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #27545950;
    color: white;
    font-family: aviano-future, sans-serif;
    border-radius: 25px;
    border: 5px solid #275459;
    cursor: pointer;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    border: 5px solid #73BFBF50;
    border-bottom-right-radius: 20px; 
    border-top-left-radius: 20px;
    background: #51868C30;
    margin: 20px;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #275459;
    border-radius: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-top: 20px;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

figure > img {
    height: 200px;
    margin: 30px;
    opacity: 80%;
    border: 5px solid #73BFBF50;
}

figcaption {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
