* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0C2126;
    color: white;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#screen-1 {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
}

#screen-2 {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

figure > img {
    height: 200px;
    margin: 30px;
    opacity: 80%;
}

figcaption {
    display: flex;
    justify-content: center;
}

button {
    color: black;
    background: yellow;
    border-radius: 20px;
    height: 30px;
}